<input
  class="w-full px-4 py-3 bg-white shadow-new rounded-xll placeholder-gray-300 tracking-wide outline-none appareance-none"
  type="{{ type }}"
  name="{{ name }}"
  placeholder="{{ placeholder }}"
  value="{{ value ? value : '' }}"
  maxlength="200"
  {{ required ? 'required' : '' }}
/>