<li class="py-4">
  <a href="#" class="space-x-3 flex items-center">
    <img
      src="{{ picture }}"
      alt="Image Luca Di Rosso"
      class="w-12 h-12 rounded-full"
    />
    <div>
      <h1 class="text-lg font-medium">{{ name }}</h1>
      <p class="text-gray-400 text-sm">{{ live ? 'En ligne' : 'Hors ligne' }}</p>
    </div>
  </a>
</li>