<aside class="w-1/4 flex-none bg-white border-r border-gray-200 shadow-new" style="min-width: 288px">
  <ul class="h-screen p-4 divide divide-gray-200">
    <h1 class="pb-4 text-3xl font-medium">Messages</h1>
    
    @!component('components/user', { picture: 'https://media-exp1.licdn.com/dms/image/C4D03AQGrRzF8SfL8SQ/profile-displayphoto-shrink_400_400/0/1604897379174?e=1640822400&v=beta&t=y2xoB6ryb7btrJEXnpo4m_n2FEy2EGE7A_D8gHVu-Gc', name: 'Luca Di Rosso', state: 'En ligne' })
    
    @!component('components/user', { picture: 'https://media-exp1.licdn.com/dms/image/C4D03AQGrRzF8SfL8SQ/profile-displayphoto-shrink_400_400/0/1604897379174?e=1640822400&v=beta&t=y2xoB6ryb7btrJEXnpo4m_n2FEy2EGE7A_D8gHVu-Gc', name: 'Luca Di Rosso', state: 'En ligne' })
    
    @!component('components/user', { picture: 'https://media-exp1.licdn.com/dms/image/C4D03AQGrRzF8SfL8SQ/profile-displayphoto-shrink_400_400/0/1604897379174?e=1640822400&v=beta&t=y2xoB6ryb7btrJEXnpo4m_n2FEy2EGE7A_D8gHVu-Gc', name: 'Luca Di Rosso', state: 'En ligne' })
    
    @!component('components/user', {
      picture: 'https://media-exp1.licdn.com/dms/image/C4D03AQGrRzF8SfL8SQ/profile-displayphoto-shrink_400_400/0/1604897379174?e=1640822400&v=beta&t=y2xoB6ryb7btrJEXnpo4m_n2FEy2EGE7A_D8gHVu-Gc',
      name: 'Luca Di Rosso',
      live: true
    })

  </ul>
</aside>