<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Créé par @hugolgc</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  <style>.shadow-new { box-shadow: 0 .5rem 1em rgba(0, 0, 0, .05) }</style>
</head>
<body class="bg-gray-100 tracking-wide">

@!section('main')

@!section('script')

</body>
</html>